@import "tailwindcss";

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 0;
}

button, a, [role="button"], select, label[for] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
